@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Display */
.display-1 {
  font-size: 80px;
  font-size: 5.000rem;
}

.display-2 {
  font-size: 60px;
  font-size: 3.812rem;
}

.display-3 {
  font-size: 47px;
  font-size: 2.938rem;
}

/* Headings */
.h1 {
  font-size: 32px;
  font-size: 2rem;
}

.h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

.h3 {
  font-size: 20px; 
  font-size: 1.250rem;
}

.title {
  font-size: 18px;
  font-size: 1.125rem;
}

.subtitle {
  font-size: 16px;
  font-size: 1.000rem;
}

.body {
  font-size: 14px;   
  font-size: 0.875rem;
}

.caption {
  font-size: 13px; 
  font-size: 0.812rem;
}

.img-hero-mag{
  margin-bottom: -5px;
}

.page-paper {
  background-image: 
    radial-gradient(rgba(0,0,0,0.03) 1px, transparent 1px);
  background-size: 3px 3px;
}

[data-watch-cursor][data-active="true"] {
  opacity: 1;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: "#EFEEE7";
  color: #000000;
}

@keyframes menu-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



